$main-font-size: 14px !default;
$main-bg-color: #f0f0f0;
$main-text-color: #6c757d;
$modal-bg-color: #fff;
$light-grey: #f0f0f0;
$dark-grey: #6c757d;
$light-blue: #197278;
$dark-blue: #0f4c75;
$light-green: #00b7c2;
$dark-green: #00b7c2;
