<div class="container text-bg-success">
  <div class="card login-container">
    <form [formGroup]="form" (click)="onSubmit()">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
          placeholder="Enter Password"
        />
      </div>

      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4">
        Login
      </button>
      <!-- Register buttons -->
      <div class="text-center">
        <p>
          Not a member?
          <span class="important-link thick-text" (click)="onRegister()"
            >Register</span
          >
        </p>
      </div>
    </form>
  </div>
</div>
