<div class="container text-bg-success">
  <div class="card memory-modal login-container">
    <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Username</label>
        <input
          type="text"
          name="username"
          #username="ngModel"
          ngModel
          class="form-control"
          placeholder="Enter username"
          required
        />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input
          type="password"
          name="password"
          #password="ngModel"
          ngModel
          class="form-control"
          placeholder="Enter Password"
          required
        />
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        [disabled]="!logForm.valid"
        class="btn btn-primary btn-block mb-4"
      >
        Login
      </button>
      <!-- Register buttons -->
      <div class="text-center">
        <p>
          Not a member?
          <span class="important-link thick-text" (click)="onRegister()"
            >Register</span
          >
        </p>
      </div>
    </form>
  </div>
</div>
