@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400;1,500&display=swap");

$main-bg-color: #f0f0f0;
$main-text-color: #6c757d;
$modal-bg-color: #fff;
$light-grey: #f0f0f0;
$dark-grey: #6c757d;
$light-blue: #197278;
$dark-blue: #0f4c75;
$light-green: #00b7c2;
$dark-green: #00b7c2;

* {
  font-family: "Poppins", sans-serif;
  color: $main-text-color;
}

.wrapper {
  background-color: $main-bg-color;
}

.memory-modal {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main-text-color;
}

.thick-text {
  font-weight: 600;
}

.important-link {
  color: #197278;
}

.important-link:hover {
  color: #197278;
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1.title {
  font-size: 2.5rem;
  font-weight: 600;
}

.container {
  background-color: $main-bg-color;
  min-width: 100%;
  height: 100vh;
}

//toaster show
.toast {
  display: flex !important;
  color: white !important;
}
